input {
  display: none;
}
label {
  position: absolute;
  right: 20px;
  top: 100px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 23px;
  text-shadow: 1px 1px 1px white;
}
label:hover {
  color: white;
}
.main-nav {
  transition: width .3s ease;
  width: 0;
  overflow: hidden;
  height: 200px;
}

input:checked + .main-nav {
  width: 430px;
}

